In [29]:
# Import dependencies
%config Completer.use_jedi = False

import os
import pandas as pd
from sqlalchemy import create_engine
import datetime
import requests
import pymongo
from pprint import pprint
pd.options.mode.chained_assignment = None  # default='warn'

In [4]:
fifteen_path = os.path.join('..','data','csv','happiness_2015.csv')
sixteen_path = os.path.join('..','data','csv','happiness_2016.csv')
seventeen_path = os.path.join('..','data','csv','happiness_2017.csv')
# country_path = os.path.join('Data','csv','countries.csv')

In [5]:
happiness_15_df = pd.read_csv(fifteen_path)
happiness_16_df = pd.read_csv(sixteen_path)
happiness_17_df = pd.read_csv(seventeen_path)
# country_df = pd.read_csv(country_path)

In [6]:
happiness_15_df.sort_values(by=['Country']).head()

,Unnamed: 0,country_id,Country,Code,Region,HappinessRank,HappinessScore,StandardError,Economy_GDPperCapita,Family,Health_LifeExpectancy,Freedom,Trust_GovernmentCorruption,Generosity,DystopiaResidual,Latitude,Longitude
0,0,1,Afghanistan,AF,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,33.939110,67.709953
1,1,2,Albania,AL,Central and Eastern Europe,95,4.959,0.05013,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,41.153332,20.168331
2,2,3,Algeria,DZ,Middle East and Northern Africa,68,5.605,0.05099,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209,28.033886,1.659626
3,3,4,Angola,AO,Sub-Saharan Africa,137,4.033,0.04758,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,-11.202692,17.873887
4,4,5,Argentina,AR,Latin America and Caribbean,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,-38.416097,-63.616672

In [7]:
happiness_16_df.sort_values(by=['Country']).head()

,Unnamed: 0,country_id,Country,Code,Region,HappinessRank,HappinessScore,LowerConfidenceInterval,UpperConfidenceInterval,Economy_GDPperCapita,Family,Health_LifeExpectancy,Freedom,Trust_GovernmentCorruption,Generosity,DystopiaResidual,Latitude,Longitude
0,0,1,Afghanistan,AF,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,33.939110,67.709953
1,1,2,Albania,AL,Central and Eastern Europe,109,4.655,4.546,4.764,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816,41.153332,20.168331
2,2,3,Algeria,DZ,Middle East and Northern Africa,38,6.355,6.227,6.483,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904,28.033886,1.659626
3,3,4,Angola,AO,Sub-Saharan Africa,141,3.866,3.753,3.979,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459,-11.202692,17.873887
4,4,5,Argentina,AR,Latin America and Caribbean,26,6.650,6.560,6.740,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985,-38.416097,-63.616672

In [8]:
happiness_17_df.sort_values(by=['Country']).head()

,Unnamed: 0,country_id,Country,Code,HappinessRank,HappinessScore,Whiskerhigh,Whiskerlow,Economy_GDPperCapita,Family,Health_LifeExpectancy,Freedom,Generosity,Trust_GovernmentCorruption,DystopiaResidual,Latitude,Longitude
0,0,1,Afghanistan,AF,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801,33.939110,67.709953
1,1,2,Albania,AL,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442,41.153332,20.168331
2,2,3,Algeria,DZ,53,5.872,5.978286,5.765714,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604,28.033886,1.659626
3,3,4,Angola,AO,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482,-11.202692,17.873887
4,4,5,Argentina,AR,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005,-38.416097,-63.616672

In [9]:
list_2015 = []
for country in happiness_15_df['Country']:
    list_2015.append(country)
list_2016 = []
for country in happiness_16_df['Country']:
    list_2016.append(country)
list_2017 = []
for country in happiness_17_df['Country']:
    list_2017.append(country)

In [10]:
print(list_2015)
print(list_2016)
print(list_2017)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somaliland Region', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'Somaliland Region', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [11]:
country_list = []
def list_country(l):
    for country in l:
        if country in country_list:
            continue
        else:
            country_list.append(country)

In [12]:
list_country(list_2015)
list_country(list_2016)
list_country(list_2017)

In [13]:
country_list.sort()

In [14]:
country_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Cyprus',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'Somaliland Region',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [15]:
country_id = []
counter = 1
for country in country_list:
    country_id.append(counter)
    counter += 1

In [16]:
country_data = {'country':country_list, 'country_id':country_id}

In [17]:
country_data

{'country': ['Afghanistan',
  'Albania',
  'Algeria',
  'Angola',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahrain',
  'Bangladesh',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombia',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo (Kinshasa)',
  'Costa Rica',
  'Croatia',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominican Republic',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Estonia',
  'Ethiopia',
  'Finland',
  'France',
  'Gabon',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Guatemala',
  'Guinea',
  'Haiti',
  'Honduras',
  'Hong Kong',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Ivory Coast',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kosovo',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Mali',
  'Malta',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Moldova',
  'Mongolia',
  'Montenegro',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'North Cyprus',
  'Norway',
  'Oman',
  'Pakistan',
  'Palestinian Territories',
  'Panama',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Puerto Rico',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saudi Arabia',
  'Senegal',
  'Serbia',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Somalia',
  'Somaliland Region',
  'South Africa',
  'South Korea',
  'South Sudan',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe'],
 'country_id': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163]}

In [18]:
country_df = pd.DataFrame.from_dict(country_data)

In [20]:
country_df.to_csv(os.path.join('..','Data','csv','countries_temp.csv'))

In [21]:
country_id_dict = dict()
for index,row in country_df.iterrows() :
    country_name = row['country']
    country_id = row['country_id']
    country_id_dict[country_name] = country_id

In [22]:
country_id_dict

{'Afghanistan': 1,
 'Albania': 2,
 'Algeria': 3,
 'Angola': 4,
 'Argentina': 5,
 'Armenia': 6,
 'Australia': 7,
 'Austria': 8,
 'Azerbaijan': 9,
 'Bahrain': 10,
 'Bangladesh': 11,
 'Belarus': 12,
 'Belgium': 13,
 'Belize': 14,
 'Benin': 15,
 'Bhutan': 16,
 'Bolivia': 17,
 'Bosnia and Herzegovina': 18,
 'Botswana': 19,
 'Brazil': 20,
 'Bulgaria': 21,
 'Burkina Faso': 22,
 'Burundi': 23,
 'Cambodia': 24,
 'Cameroon': 25,
 'Canada': 26,
 'Central African Republic': 27,
 'Chad': 28,
 'Chile': 29,
 'China': 30,
 'Colombia': 31,
 'Comoros': 32,
 'Congo (Brazzaville)': 33,
 'Congo (Kinshasa)': 34,
 'Costa Rica': 35,
 'Croatia': 36,
 'Cyprus': 37,
 'Czech Republic': 38,
 'Denmark': 39,
 'Djibouti': 40,
 'Dominican Republic': 41,
 'Ecuador': 42,
 'Egypt': 43,
 'El Salvador': 44,
 'Estonia': 45,
 'Ethiopia': 46,
 'Finland': 47,
 'France': 48,
 'Gabon': 49,
 'Georgia': 50,
 'Germany': 51,
 'Ghana': 52,
 'Greece': 53,
 'Guatemala': 54,
 'Guinea': 55,
 'Haiti': 56,
 'Honduras': 57,
 'Hong Kong': 58,
 'Hungary': 59,
 'Iceland': 60,
 'India': 61,
 'Indonesia': 62,
 'Iran': 63,
 'Iraq': 64,
 'Ireland': 65,
 'Israel': 66,
 'Italy': 67,
 'Ivory Coast': 68,
 'Jamaica': 69,
 'Japan': 70,
 'Jordan': 71,
 'Kazakhstan': 72,
 'Kenya': 73,
 'Kosovo': 74,
 'Kuwait': 75,
 'Kyrgyzstan': 76,
 'Laos': 77,
 'Latvia': 78,
 'Lebanon': 79,
 'Lesotho': 80,
 'Liberia': 81,
 'Libya': 82,
 'Lithuania': 83,
 'Luxembourg': 84,
 'Macedonia': 85,
 'Madagascar': 86,
 'Malawi': 87,
 'Malaysia': 88,
 'Mali': 89,
 'Malta': 90,
 'Mauritania': 91,
 'Mauritius': 92,
 'Mexico': 93,
 'Moldova': 94,
 'Mongolia': 95,
 'Montenegro': 96,
 'Morocco': 97,
 'Mozambique': 98,
 'Myanmar': 99,
 'Namibia': 100,
 'Nepal': 101,
 'Netherlands': 102,
 'New Zealand': 103,
 'Nicaragua': 104,
 'Niger': 105,
 'Nigeria': 106,
 'North Cyprus': 107,
 'Norway': 108,
 'Oman': 109,
 'Pakistan': 110,
 'Palestinian Territories': 111,
 'Panama': 112,
 'Paraguay': 113,
 'Peru': 114,
 'Philippines': 115,
 'Poland': 116,
 'Portugal': 117,
 'Puerto Rico': 118,
 'Qatar': 119,
 'Romania': 120,
 'Russia': 121,
 'Rwanda': 122,
 'Saudi Arabia': 123,
 'Senegal': 124,
 'Serbia': 125,
 'Sierra Leone': 126,
 'Singapore': 127,
 'Slovakia': 128,
 'Slovenia': 129,
 'Somalia': 130,
 'Somaliland Region': 131,
 'South Africa': 132,
 'South Korea': 133,
 'South Sudan': 134,
 'Spain': 135,
 'Sri Lanka': 136,
 'Sudan': 137,
 'Suriname': 138,
 'Swaziland': 139,
 'Sweden': 140,
 'Switzerland': 141,
 'Syria': 142,
 'Taiwan': 143,
 'Tajikistan': 144,
 'Tanzania': 145,
 'Thailand': 146,
 'Togo': 147,
 'Trinidad and Tobago': 148,
 'Tunisia': 149,
 'Turkey': 150,
 'Turkmenistan': 151,
 'Uganda': 152,
 'Ukraine': 153,
 'United Arab Emirates': 154,
 'United Kingdom': 155,
 'United States': 156,
 'Uruguay': 157,
 'Uzbekistan': 158,
 'Venezuela': 159,
 'Vietnam': 160,
 'Yemen': 161,
 'Zambia': 162,
 'Zimbabwe': 163}

In [23]:
happiness_15_df['country_id'] =""
happiness_16_df['country_id'] =""
happiness_17_df['country_id'] =""

In [24]:
def add_country_id(df):
    for index,row in df.iterrows() :
        try:
            df.loc[index,'country_id'] = country_id_dict.get(row['Country'])
        except:
            continue

In [25]:
add_country_id(happiness_15_df)
add_country_id(happiness_16_df)
add_country_id(happiness_17_df)

In [26]:
happiness_15_df.sort_values(by=['Country'])
happiness_16_df.sort_values(by=['Country'])
happiness_17_df.sort_values(by=['Country'])

,Unnamed: 0,country_id,Country,Code,HappinessRank,HappinessScore,Whiskerhigh,Whiskerlow,Economy_GDPperCapita,Family,Health_LifeExpectancy,Freedom,Generosity,Trust_GovernmentCorruption,DystopiaResidual,Latitude,Longitude
0,0,1,Afghanistan,AF,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801,33.939110,67.709953
1,1,2,Albania,AL,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442,41.153332,20.168331
2,2,3,Algeria,DZ,53,5.872,5.978286,5.765714,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604,28.033886,1.659626
3,3,4,Angola,AO,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482,-11.202692,17.873887
4,4,5,Argentina,AR,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005,-38.416097,-63.616672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,150,159,Venezuela,VE,82,5.250,5.370032,5.129968,1.128431,1.431338,0.617144,0.153997,0.065020,0.064491,1.789464,6.423750,-66.589730
151,151,160,Vietnam,VN,94,5.074,5.147281,5.000719,0.788548,1.277491,0.652169,0.571056,0.234968,0.087633,1.462319,14.058324,108.277199
152,152,161,Yemen,YE,146,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601,15.552727,48.516388
153,153,162,Zambia,ZM,116,4.514,4.644106,4.383894,0.636407,1.003187,0.257836,0.461603,0.249580,0.078214,1.826705,-13.133897,27.849332
154,154,163,Zimbabwe,ZW,138,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970,-19.015438,29.154857

In [28]:
happiness_15_df.to_csv(os.path.join('..','Data','csv','2015.csv'))
happiness_16_df.to_csv(os.path.join('..','Data','csv','2016.csv'))
happiness_17_df.to_csv(os.path.join('..','Data','csv','2017.csv'))

In [33]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
client.drop_database('WHR_Database_Temp')
# Define the 'classDB' database in Mongo
db = client.WHR_Database_Temp

In [34]:
collection_whr_2015 = db['whr_2015_table']
collection_whr_2016 = db['whr_2016_table']
collection_whr_2017 = db['whr_2017_table']

In [35]:
whr_dict_2015 = happiness_15_df.to_dict("records")
whr_dict_2016 = happiness_16_df.to_dict("records")
whr_dict_2017 = happiness_17_df.to_dict("records")

In [36]:
collection_whr_2015.insert_many(whr_dict_2015)
collection_whr_2016.insert_many(whr_dict_2016)
collection_whr_2017.insert_many(whr_dict_2017)

In [37]:
collection_country = db['country_table']
country_dict = country_df.to_dict("records")
collection_country.insert_many(country_dict)